body{
    margin: 100px 80px;
    padding: 0;
    box-sizing: border-box;
}

.submit-area{
    box-shadow: 5px 5px 10px gray;
    padding: 50px;
    border-radius: 10px;
}
#transition-area {
    display: none;
}
.deposit{
    background-color: blueviolet;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}
.status{
    padding:25px;
    margin: 0 20px;
    color: #fff;
    border-radius: 10px;
}